body{
		font-size: 15px;
		line-height: 1.25;
		color: #ffefcc;
		background: linear-gradient(44deg, #d95213,#d95213,#cb60fa,#d95213,#d95213);                               
}

	.table{
		

	}

	.back{

		margin-right: 60px;
		text-align: right;

	}
                                